<!DOCTYPE html>
<html>
  <head>
    <title>DonutShop</title>
    <%= csrf_meta_tags %>  


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <div class="navbar" id='myNavBar'>
        <a class="nav-link" <%= link_to "Home", root_path %></a>
        <a class="nav-link" <%= link_to "Menu", pages_menu_path %></a>
        <a class="nav-link" <%= link_to "About Us", pages_about_us_path %></a>
        <a class="nav-link" <%= link_to "Contact", pages_contact_path %></a>
        <a class="nav-link" <%= link_to "Cart", pages_cart_path %></a>
        <% if current_user %>
       <%= link_to "Logout", destroy_user_session_path, method: :delete %>
     <% else %>
       <%= link_to "Register", new_user_registration_path %>
       <%= link_to "Login", new_user_session_path %>
     <% end %>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9783;</a>
    </div>



    <%= yield %>



    <script>
      function myFunction() {
          var x = document.getElementById("myNavBar");
          if (x.className === "navbar") {
              x.className += " responsive";
          } else {
              x.className = "navbar";
          }
      }
    </script>

  </body>
</html>
